@import "bootstrap";

body {
   background: white;
}

.navbar-default {
  background-color: #ffffff;
  border-color: #000000;
}
.navbar-default .navbar-brand {
  color: #0433ff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #0433ff;
}
.navbar-default .navbar-text {
  color: #0433ff;
}
.navbar-default .navbar-nav > li > a {
  color: #0433ff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #0433ff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #0433ff;
  background-color: #000000;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #0433ff;
  background-color: #000000;
}
.navbar-default .navbar-toggle {
  border-color: #000000;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #000000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #0433ff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #0433ff;
}
.navbar-default .navbar-link {
  color: #0433ff;
}
.navbar-default .navbar-link:hover {
  color: #0433ff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #0433ff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #0433ff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #0433ff;
    background-color: #000000;
  }
}

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

#wrapper-name {
  width: 650px;
  margin: 15px 0 0 -15px;
}

#wrapper {
  width: 650px;
  margin: 15px auto;
}

#banner {
  background-color: white;
  border-radius:25px;
}


