@import "bootstrap";

body {
   background:white;
}

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

#wrapper-name {
  width: 650px;
  margin: 15px 0 0 -15px;
}

#wrapper {
  width: 650px;
  margin: 15px auto;
}

#banner {
  background-color: #87CEEB;
  border-radius:25px;
}


